In [2]:
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/Climate_of_Australia"

In [4]:
tables = pd.read_html(url)

tables

[                  Place Climate type January mean max. temp  \
 0            Albury[12]          Cfa          31 °C (88 °F)
 1          Armidale[13]          Cfb          26 °C (79 °F)
 2       Broken Hill[15]          BWh          33 °C (91 °F)
 3    Charlotte Pass[16]      Cfc/Dfc          18 °C (64 °F)
 4     Coffs Harbour[17]          Cfa          27 °C (81 °F)
 5            Orange[18]          Cfb          26 °C (79 °F)
 6           Penrith[19]          Cfa          31 °C (88 °F)
 7  Sydney[20] (capital)          Cfa          26 °C (79 °F)
 8       Wagga Wagga[21]          Cfa          32 °C (90 °F)
 9        Wollongong[22]          Cfb          26 °C (79 °F)

   January mean min. temp July mean max. temp July mean min. temp  \
 0          16 °C (61 °F)       13 °C (55 °F)        3 °C (37 °F)
 1          14 °C (57 °F)       12 °C (54 °F)        1 °C (34 °F)
 2          19 °C (66 °F)       15 °C (59 °F)        5 °C (41 °F)
 3           5 °C (41 °F)        2 °C (36 °F)       −7 °C (19 °F)
 4          19 °C (66 °F)       19 °C (66 °F)        8 °C (46 °F)
 5          12 °C (54 °F)        9 °C (48 °F)        1 °C (34 °F)
 6          18 °C (64 °F)       18 °C (64 °F)        5 °C (41 °F)
 7          19 °C (66 °F)       16 °C (61 °F)        8 °C (46 °F)
 8          16 °C (61 °F)       13 °C (55 °F)        3 °C (37 °F)
 9          18 °C (64 °F)       17 °C (63 °F)        8 °C (46 °F)

   No. clear days Annual precipitation
 0            108       691 mm (27 in)
 1        106[14]       743 mm (29 in)
 2            137       245 mm (10 in)
 3             78     1,948 mm (77 in)
 4            122     1,679 mm (66 in)
 5            100       898 mm (35 in)
 6            103       696 mm (27 in)
 7            104     1,222 mm (48 in)
 8            124       566 mm (22 in)
 9            107     1,346 mm (53 in)  ,
                                                     0  \
 0   Average monthly maximumtemperature in Northern...
 1                                               Month
 2                                             January
 3                                            February
 4                                               March
 5                                               April
 6                                                 May
 7                                                June
 8                                                July
 9                                              August
 10                                          September
 11                                            October
 12                                           November
 13                                           December
 14              Source: Bureau of Meteorology[23][24]

                                                     1  \
 0   Average monthly maximumtemperature in Northern...
 1                                              Darwin
 2                                   31.8 °C (89.2 °F)
 3                                   31.4 °C (88.5 °F)
 4                                   31.9 °C (89.4 °F)
 5                                   32.7 °C (90.9 °F)
 6                                   32.0 °C (89.6 °F)
 7                                   30.6 °C (87.1 °F)
 8                                   30.5 °C (86.9 °F)
 9                                   31.3 °C (88.3 °F)
 10                                  32.5 °C (90.5 °F)
 11                                  33.2 °C (91.8 °F)
 12                                  33.3 °C (91.9 °F)
 13                                  32.6 °C (90.7 °F)
 14              Source: Bureau of Meteorology[23][24]

                                                     2  \
 0   Average monthly maximumtemperature in Northern...
 1                                       Alice Springs
 2                                   36.4 °C (97.5 °F)
 3                                   35.1 °C (95.2 °F)
 4                                   32.7 °C (90.9 °F)
 5                                   28.2 °C (82.8 °F)
 6                                   23.0 °C (73.4 °F)
 7                                   19.8 °C (67.6 °F)
 8                                   19.7 °C (67.5 °F)
 9                                   22.5 °C (72.5 °F)
 10                                  27.2 °C (81.0 °F)
 11                                  31.0 °C (87.8 °F)
 12                                  33.6 °C (92.5 °F)
 13                                  35.4 °C (95.7 °F)
 14              Source: Bureau of Meteorology[23][24]

                                                     3  \
 0   Average monthly maximumtemperature in Northern...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14              Source: Bureau of Meteorology[23][24]

                                                     4
 0   Average monthly maximumtemperature in Northern...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14              Source: Bureau of Meteorology[23][24]  ,
                      Place Climate type January max. temp January min. temp  \
 0           Birdsville[28]          BWh    39 °C (102 °F)     24 °C (75 °F)
 1   Brisbane[29] (capital)          Cfa     30 °C (86 °F)     21 °C (70 °F)
 2               Cairns[30]           Am     32 °C (90 °F)     24 °C (75 °F)
 3           Gold Coast[31]          Cfa     29 °C (84 °F)     22 °C (72 °F)
 4               Mackay[32]          Cfa     30 °C (86 °F)     24 °C (75 °F)
 5            Mount Isa[33]          BSh     37 °C (99 °F)     24 °C (75 °F)
 6          Rockhampton[34]          Cfa     32 °C (90 °F)     22 °C (72 °F)
 7           Stanthorpe[35]          Cfb     27 °C (81 °F)     16 °C (61 °F)
 8            Toowoomba[36]          Cfa     28 °C (82 °F)     17 °C (63 °F)
 9           Townsville[37]           Aw     31 °C (88 °F)     24 °C (75 °F)
 10               Weipa[38]           Aw     32 °C (90 °F)     24 °C (75 °F)

    July max. Temp July min. temp  No. clear days Annual precipitation
 0   21 °C (70 °F)   7 °C (45 °F)           221.0        164 mm (6 in)
 1   22 °C (72 °F)  10 °C (50 °F)           123.0     1,022 mm (40 in)
 2   26 °C (79 °F)  17 °C (63 °F)            90.0     1,982 mm (78 in)
 3   21 °C (70 °F)  12 °C (54 °F)             NaN     1,273 mm (50 in)
 4   21 °C (70 °F)  13 °C (55 °F)           123.0     1,610 mm (63 in)
 5   25 °C (77 °F)   9 °C (48 °F)           175.0       462 mm (18 in)
 6   23 °C (73 °F)  10 °C (50 °F)           116.0       812 mm (32 in)
 7   15 °C (59 °F)   1 °C (34 °F)            42.0       762 mm (30 in)
 8   16 °C (61 °F)   5 °C (41 °F)           114.0       952 mm (37 in)
 9   25 °C (77 °F)  14 °C (57 °F)           121.0     1,132 mm (45 in)
 10  31 °C (88 °F)  19 °C (66 °F)            54.0     1,911 mm (75 in)  ,
                     Place Climate type January max. temp January min. temp  \
 0  Adelaide[40] (capital)          Csa     29 °C (84 °F)     17 °C (63 °F)
 1           Kingscote[41]          Csb     24 °C (75 °F)     15 °C (59 °F)
 2       Mount Gambier[42]          Csb     25 °C (77 °F)     11 °C (52 °F)
 3          Oodnadatta[43]          BWh    38 °C (100 °F)     23 °C (73 °F)
 4        Port Augusta[44]          BWh     34 °C (93 °F)     19 °C (66 °F)
 5            Stirling[45]      Csb/Cfb     25 °C (77 °F)     12 °C (54 °F)
 6             Whyalla[46]          BSh     30 °C (86 °F)     18 °C (64 °F)

   July max. temp July min. temp  No. clear days Annual precipitation
 0  15 °C (59 °F)   7 °C (45 °F)              87       551 mm (22 in)
 1  15 °C (59 °F)   8 °C (46 °F)              62       489 mm (19 in)
 2  13 °C (55 °F)   5 °C (41 °F)              40       710 mm (28 in)
 3  20 °C (68 °F)   6 °C (43 °F)             182        176 mm (7 in)
 4  18 °C (64 °F)   5 °C (41 °F)             142        218 mm (9 in)
 5  11 °C (52 °F)   5 °C (41 °F)              71     1,107 mm (44 in)
 6  17 °C (63 °F)   5 °C (41 °F)              63       267 mm (11 in)  ,
                   Place Climate type January max. temp January min. temp  \
 0            Burnie[49]          Cfb     21 °C (70 °F)     13 °C (55 °F)
 1         Devonport[50]          Csb     21 °C (70 °F)     12 °C (54 °F)
 2   Flinders Island[51]          Cfb     22 °C (72 °F)     14 °C (57 °F)
 3  Hobart[52] (capital)          Cfb     22 °C (72 °F)     12 °C (54 °F)
 4       King Island[53]          Csb     21 °C (70 °F)     13 °C (55 °F)
 5        Launceston[54]          Cfb     25 °C (77 °F)     11 °C (52 °F)
 6          Liawenee[55]          Csc     19 °C (66 °F)      6 °C (43 °F)
 7        Queenstown[56]          Cfb     21 °C (70 °F)      8 °C (46 °F)
 8         St Helens[57]          Cfb     23 °C (73 °F)     13 °C (55 °F)
 9           Strahan[58]          Cfb     21 °C (70 °F)     11 °C (52 °F)

   July max. temp July min. temp  No. clear days Annual precipitation
 0  13 °C (55 °F)   6 °C (43 °F)            52.0       958 mm (38 in)
 1  13 °C (55 °F)   5 °C (41 °F)            56.0       773 mm (30 in)
 2  13 °C (55 °F)   6 °C (43 °F)            47.0       741 mm (29 in)
 3  12 °C (54 °F)   5 °C (41 °F)            41.0       615 mm (24 in)
 4  13 °C (55 °F)   8 °C (46 °F)            20.0       854 mm (34 in)
 5  12 °C (54 °F)   2 °C (36 °F)            50.0       630 mm (25 in)
 6   6 °C (43 °F)  −2 °C (28 °F)            22.0       923 mm (36 in)
 7  12 °C (54 °F)   2 °C (36 °F)            29.0     2,405 mm (95 in)
 8  14 °C (57 °F)   5 °C (41 °F)             NaN       666 mm (26 in)
 9  12 °C (54 °F)   5 °C (41 °F)            16.0     1,544 mm (61 in)  ,
                                                  0  \
 0   Average monthly maximumtemperature in Victoria
 1                                            Month
 2                                          January
 3                                         February
 4                                            March
 5                                            April
 6                                              May
 7                                             June
 8                                             July
 9                                           August
 10                                       September
 11                                         October
 12                                        November
 13                                        December
 14                                     Source: BOM

                                                  1  \
 0   Average monthly maximumtemperature in Victoria
 1                                        Melbourne
 2                                25.8 °C (78.4 °F)
 3                                25.8 °C (78.4 °F)
 4                                23.8 °C (74.8 °F)
 5                                20.2 °C (68.4 °F)
 6                                16.6 °C (61.9 °F)
 7                                14.0 °C (57.2 °F)
 8                                13.4 °C (56.1 °F)
 9                                14.9 °C (58.8 °F)
 10                               17.2 °C (63.0 °F)
 11                               19.6 °C (67.3 °F)
 12                               21.8 °C (71.2 °F)
 13                               24.1 °C (75.4 °F)
 14                                     Source: BOM

                                                  2  \
 0   Average monthly maximumtemperature in Victoria
 1                                          Mildura
 2                                32.8 °C (91.0 °F)
 3                                32.7 °C (90.9 °F)
 4                                29.3 °C (84.7 °F)
 5                                24.1 °C (75.4 °F)
 6                                19.6 °C (67.3 °F)
 7                                16.0 °C (60.8 °F)
 8                                15.4 °C (59.7 °F)
 9                                17.7 °C (63.9 °F)
 10                               21.1 °C (70.0 °F)
 11                               25.0 °C (77.0 °F)
 12                               29.0 °C (84.2 °F)
 13                               31.7 °C (89.1 °F)
 14                                     Source: BOM

                                                  3  \
 0   Average monthly maximumtemperature in Victoria
 1                                              NaN
 2                                              NaN
 3                                              NaN
 4                                              NaN
 5                                              NaN
 6                                              NaN
 7                                              NaN
 8                                              NaN
 9                                              NaN
 10                                             NaN
 11                                             NaN
 12                                             NaN
 13                                             NaN
 14                                     Source: BOM

                                                  4
 0   Average monthly maximumtemperature in Victoria
 1                                              NaN
 2                                              NaN
 3                                              NaN
 4                                              NaN
 5                                              NaN
 6                                              NaN
 7                                              NaN
 8                                              NaN
 9                                              NaN
 10                                             NaN
 11                                             NaN
 12                                             NaN
 13                                             NaN
 14                                     Source: BOM  ,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Climate...,
                      Place Climate type January max. temp January min. temp  \
 0           Bairnsdale[61]          Cfb     26 °C (79 °F)     13 °C (55 °F)
 1             Ballarat[62]          Cfb     25 °C (77 °F)     11 °C (52 °F)
 2              Bendigo[63]      Cfa/Cfb     30 °C (86 °F)     14 °C (57 °F)
 3          Falls Creek[64]          Cfc     18 °C (64 °F)      9 °C (48 °F)
 4              Geelong[65]          Cfb     25 °C (77 °F)     13 °C (55 °F)
 5  Melbourne[67] (capital)          Cfb     26 °C (79 °F)     14 °C (57 °F)
 6              Mildura[68]          BSk     32 °C (90 °F)     17 °C (63 °F)
 7             Portland[69]      Csb/Cfb     22 °C (72 °F)     12 °C (54 °F)
 8           Shepparton[70]          BSk     32 °C (90 °F)     15 °C (59 °F)
 9          Warrnambool[71]          Cfb     22 °C (72 °F)     13 °C (55 °F)

   July max. temp July min. temp No. clear days Annual precipitation
 0  15 °C (59 °F)   4 °C (39 °F)             60       650 mm (26 in)
 1  10 °C (50 °F)   3 °C (37 °F)             55       690 mm (27 in)
 2  12 °C (54 °F)   3 °C (37 °F)            110       514 mm (20 in)
 3   1 °C (34 °F)  −3 °C (27 °F)            NaN     1,274 mm (50 in)
 4  14 °C (57 °F)   5 °C (41 °F)         38[66]       524 mm (21 in)
 5  14 °C (57 °F)   6 °C (43 °F)             49       648 mm (26 in)
 6  15 °C (59 °F)   4 °C (39 °F)            132       291 mm (11 in)
 7  13 °C (55 °F)   6 °C (43 °F)             40       840 mm (33 in)
 8  13 °C (55 °F)   3 °C (37 °F)            NaN       452 mm (18 in)
 9  13 °C (55 °F)   6 °C (43 °F)             53       743 mm (29 in)  ,
                  Place Climate type January max. temp January min. temp  \
 0           Albany[75]          Csb     23 °C (73 °F)     15 °C (59 °F)
 1           Broome[76]          BSh     33 °C (91 °F)     26 °C (79 °F)
 2            Eucla[77]          BSk     26 °C (79 °F)     17 °C (63 °F)
 3        Geraldton[78]      Csa/BSh     32 °C (90 °F)     18 °C (64 °F)
 4       Kalgoorlie[79]          BSk     34 °C (93 °F)     18 °C (64 °F)
 5         Karratha[80]          BSh     36 °C (97 °F)     27 °C (81 °F)
 6  Perth[81] (capital)          Csa     30 °C (86 °F)     18 °C (64 °F)
 7          Wyndham[82]          BSh     37 °C (99 °F)     26 °C (79 °F)

   July max. temp July min. temp  No. clear days Annual precipitation
 0  16 °C (61 °F)   8 °C (46 °F)              45       929 mm (37 in)
 1  29 °C (84 °F)  14 °C (57 °F)             182       613 mm (24 in)
 2  18 °C (64 °F)   7 °C (45 °F)              94       274 mm (11 in)
 3  19 °C (66 °F)   9 °C (48 °F)             164       441 mm (17 in)
 4  17 °C (63 °F)   5 °C (41 °F)             151       266 mm (10 in)
 5  26 °C (79 °F)  14 °C (57 °F)             158       297 mm (12 in)
 6  17 °C (63 °F)   9 °C (48 °F)             131       868 mm (34 in)
 7  31 °C (88 °F)  17 °C (63 °F)             176       824 mm (32 in)  ,
                      Island(s) Climate type  \
 0         Christmas Island[83]           Am
 1  Cocos (Keeling) Islands[84]           Am
 2         Lord Howe Island[85]          Cfa
 3         Macquarie Island[86]           ET
 4           Norfolk Island[87]          Cfa
 5            Willis Island[88]           Aw

                                          Coordinates January max. temp  \
 0  10°25′18″S 105°40′41″E﻿ / ﻿10.42167°S 105.67806°E     28 °C (82 °F)
 1              12°07′S 96°54′E﻿ / ﻿12.117°S 96.900°E     30 °C (86 °F)
 2  31°33′15″S 159°05′06″E﻿ / ﻿31.55417°S 159.08500°E     25 °C (77 °F)
 3    54°30′0″S 158°57′0″E﻿ / ﻿54.50000°S 158.95000°E      9 °C (48 °F)
 4              29°02′S 167°57′E﻿ / ﻿29.03°S 167.95°E     25 °C (77 °F)
 5  16°17′15″S 149°57′52″E﻿ / ﻿16.28750°S 149.96444°E     31 °C (88 °F)

   January min. temp July max. temp July min. temp  No. clear days  \
 0     23 °C (73 °F)  26 °C (79 °F)  23 °C (73 °F)             8.0
 1     25 °C (77 °F)  28 °C (82 °F)  24 °C (75 °F)             NaN
 2     21 °C (70 °F)  19 °C (66 °F)  14 °C (57 °F)            68.0
 3      5 °C (41 °F)   5 °C (41 °F)   2 °C (36 °F)             4.0
 4     19 °C (66 °F)  18 °C (64 °F)  14 °C (57 °F)            41.0
 5     26 °C (79 °F)  26 °C (79 °F)  22 °C (72 °F)            67.0

   Annual precipitation
 0     2,199 mm (87 in)
 1     1,984 mm (78 in)
 2     1,464 mm (58 in)
 3       993 mm (39 in)
 4     1,286 mm (51 in)
 5     1,102 mm (43 in)  ,
    Absolute temperature ranges                              \
                          Month Maximum temperatures
                          Month                   °C     °F
 0                      January                 50.7  123.3
 1                     February                 50.5  122.9
 2                        March                 48.1  118.6
 3                        April                 45.0  113.0
 4                          May                 40.6  105.1

In [10]:
tables [1]

,0,1,2,3,4
0,Average monthly maximumtemperature in Northern...,Average monthly maximumtemperature in Northern...,Average monthly maximumtemperature in Northern...,Average monthly maximumtemperature in Northern...,Average monthly maximumtemperature in Northern...
1,Month,Darwin,Alice Springs,NaN,NaN
2,January,31.8 °C (89.2 °F),36.4 °C (97.5 °F),NaN,NaN
3,February,31.4 °C (88.5 °F),35.1 °C (95.2 °F),NaN,NaN
4,March,31.9 °C (89.4 °F),32.7 °C (90.9 °F),NaN,NaN
5,April,32.7 °C (90.9 °F),28.2 °C (82.8 °F),NaN,NaN
6,May,32.0 °C (89.6 °F),23.0 °C (73.4 °F),NaN,NaN
7,June,30.6 °C (87.1 °F),19.8 °C (67.6 °F),NaN,NaN
8,July,30.5 °C (86.9 °F),19.7 °C (67.5 °F),NaN,NaN
9,August,31.3 °C (88.3 °F),22.5 °C (72.5 °F),NaN,NaN
10,September,32.5 °C (90.5 °F),27.2 °C (81.0 °F),NaN,NaN
11,October,33.2 °C (91.8 °F),31.0 °C (87.8 °F),NaN,NaN
12,November,33.3 °C (91.9 °F),33.6 °C (92.5 °F),NaN,NaN
13,December,32.6 °C (90.7 °F),35.4 °C (95.7 °F),NaN,NaN
14,Source: Bureau of Meteorology[23][24],Source: Bureau of Meteorology[23][24],Source: Bureau of Meteorology[23][24],Source: Bureau of Meteorology[23][24],Source: Bureau of Meteorology[23][24]

In [11]:
tables[2]

,Place,Climate type,January max. temp,January min. temp,July max. Temp,July min. temp,No. clear days,Annual precipitation
0,Birdsville[28],BWh,39 °C (102 °F),24 °C (75 °F),21 °C (70 °F),7 °C (45 °F),221.0,164 mm (6 in)
1,Brisbane[29] (capital),Cfa,30 °C (86 °F),21 °C (70 °F),22 °C (72 °F),10 °C (50 °F),123.0,"1,022 mm (40 in)"
2,Cairns[30],Am,32 °C (90 °F),24 °C (75 °F),26 °C (79 °F),17 °C (63 °F),90.0,"1,982 mm (78 in)"
3,Gold Coast[31],Cfa,29 °C (84 °F),22 °C (72 °F),21 °C (70 °F),12 °C (54 °F),NaN,"1,273 mm (50 in)"
4,Mackay[32],Cfa,30 °C (86 °F),24 °C (75 °F),21 °C (70 °F),13 °C (55 °F),123.0,"1,610 mm (63 in)"
5,Mount Isa[33],BSh,37 °C (99 °F),24 °C (75 °F),25 °C (77 °F),9 °C (48 °F),175.0,462 mm (18 in)
6,Rockhampton[34],Cfa,32 °C (90 °F),22 °C (72 °F),23 °C (73 °F),10 °C (50 °F),116.0,812 mm (32 in)
7,Stanthorpe[35],Cfb,27 °C (81 °F),16 °C (61 °F),15 °C (59 °F),1 °C (34 °F),42.0,762 mm (30 in)
8,Toowoomba[36],Cfa,28 °C (82 °F),17 °C (63 °F),16 °C (61 °F),5 °C (41 °F),114.0,952 mm (37 in)
9,Townsville[37],Aw,31 °C (88 °F),24 °C (75 °F),25 °C (77 °F),14 °C (57 °F),121.0,"1,132 mm (45 in)"
10,Weipa[38],Aw,32 °C (90 °F),24 °C (75 °F),31 °C (88 °F),19 °C (66 °F),54.0,"1,911 mm (75 in)"

In [12]:
tables[0]

,Place,Climate type,January mean max. temp,January mean min. temp,July mean max. temp,July mean min. temp,No. clear days,Annual precipitation
0,Albury[12],Cfa,31 °C (88 °F),16 °C (61 °F),13 °C (55 °F),3 °C (37 °F),108,691 mm (27 in)
1,Armidale[13],Cfb,26 °C (79 °F),14 °C (57 °F),12 °C (54 °F),1 °C (34 °F),106[14],743 mm (29 in)
2,Broken Hill[15],BWh,33 °C (91 °F),19 °C (66 °F),15 °C (59 °F),5 °C (41 °F),137,245 mm (10 in)
3,Charlotte Pass[16],Cfc/Dfc,18 °C (64 °F),5 °C (41 °F),2 °C (36 °F),−7 °C (19 °F),78,"1,948 mm (77 in)"
4,Coffs Harbour[17],Cfa,27 °C (81 °F),19 °C (66 °F),19 °C (66 °F),8 °C (46 °F),122,"1,679 mm (66 in)"
5,Orange[18],Cfb,26 °C (79 °F),12 °C (54 °F),9 °C (48 °F),1 °C (34 °F),100,898 mm (35 in)
6,Penrith[19],Cfa,31 °C (88 °F),18 °C (64 °F),18 °C (64 °F),5 °C (41 °F),103,696 mm (27 in)
7,Sydney[20] (capital),Cfa,26 °C (79 °F),19 °C (66 °F),16 °C (61 °F),8 °C (46 °F),104,"1,222 mm (48 in)"
8,Wagga Wagga[21],Cfa,32 °C (90 °F),16 °C (61 °F),13 °C (55 °F),3 °C (37 °F),124,566 mm (22 in)
9,Wollongong[22],Cfb,26 °C (79 °F),18 °C (64 °F),17 °C (63 °F),8 °C (46 °F),107,"1,346 mm (53 in)"

In [13]:
tables[3]

,Place,Climate type,January max. temp,January min. temp,July max. temp,July min. temp,No. clear days,Annual precipitation
0,Adelaide[40] (capital),Csa,29 °C (84 °F),17 °C (63 °F),15 °C (59 °F),7 °C (45 °F),87,551 mm (22 in)
1,Kingscote[41],Csb,24 °C (75 °F),15 °C (59 °F),15 °C (59 °F),8 °C (46 °F),62,489 mm (19 in)
2,Mount Gambier[42],Csb,25 °C (77 °F),11 °C (52 °F),13 °C (55 °F),5 °C (41 °F),40,710 mm (28 in)
3,Oodnadatta[43],BWh,38 °C (100 °F),23 °C (73 °F),20 °C (68 °F),6 °C (43 °F),182,176 mm (7 in)
4,Port Augusta[44],BWh,34 °C (93 °F),19 °C (66 °F),18 °C (64 °F),5 °C (41 °F),142,218 mm (9 in)
5,Stirling[45],Csb/Cfb,25 °C (77 °F),12 °C (54 °F),11 °C (52 °F),5 °C (41 °F),71,"1,107 mm (44 in)"
6,Whyalla[46],BSh,30 °C (86 °F),18 °C (64 °F),17 °C (63 °F),5 °C (41 °F),63,267 mm (11 in)

In [14]:
tables[4]

,Place,Climate type,January max. temp,January min. temp,July max. temp,July min. temp,No. clear days,Annual precipitation
0,Burnie[49],Cfb,21 °C (70 °F),13 °C (55 °F),13 °C (55 °F),6 °C (43 °F),52.0,958 mm (38 in)
1,Devonport[50],Csb,21 °C (70 °F),12 °C (54 °F),13 °C (55 °F),5 °C (41 °F),56.0,773 mm (30 in)
2,Flinders Island[51],Cfb,22 °C (72 °F),14 °C (57 °F),13 °C (55 °F),6 °C (43 °F),47.0,741 mm (29 in)
3,Hobart[52] (capital),Cfb,22 °C (72 °F),12 °C (54 °F),12 °C (54 °F),5 °C (41 °F),41.0,615 mm (24 in)
4,King Island[53],Csb,21 °C (70 °F),13 °C (55 °F),13 °C (55 °F),8 °C (46 °F),20.0,854 mm (34 in)
5,Launceston[54],Cfb,25 °C (77 °F),11 °C (52 °F),12 °C (54 °F),2 °C (36 °F),50.0,630 mm (25 in)
6,Liawenee[55],Csc,19 °C (66 °F),6 °C (43 °F),6 °C (43 °F),−2 °C (28 °F),22.0,923 mm (36 in)
7,Queenstown[56],Cfb,21 °C (70 °F),8 °C (46 °F),12 °C (54 °F),2 °C (36 °F),29.0,"2,405 mm (95 in)"
8,St Helens[57],Cfb,23 °C (73 °F),13 °C (55 °F),14 °C (57 °F),5 °C (41 °F),NaN,666 mm (26 in)
9,Strahan[58],Cfb,21 °C (70 °F),11 °C (52 °F),12 °C (54 °F),5 °C (41 °F),16.0,"1,544 mm (61 in)"

In [15]:
tables[5]

,0,1,2,3,4
0,Average monthly maximumtemperature in Victoria,Average monthly maximumtemperature in Victoria,Average monthly maximumtemperature in Victoria,Average monthly maximumtemperature in Victoria,Average monthly maximumtemperature in Victoria
1,Month,Melbourne,Mildura,NaN,NaN
2,January,25.8 °C (78.4 °F),32.8 °C (91.0 °F),NaN,NaN
3,February,25.8 °C (78.4 °F),32.7 °C (90.9 °F),NaN,NaN
4,March,23.8 °C (74.8 °F),29.3 °C (84.7 °F),NaN,NaN
5,April,20.2 °C (68.4 °F),24.1 °C (75.4 °F),NaN,NaN
6,May,16.6 °C (61.9 °F),19.6 °C (67.3 °F),NaN,NaN
7,June,14.0 °C (57.2 °F),16.0 °C (60.8 °F),NaN,NaN
8,July,13.4 °C (56.1 °F),15.4 °C (59.7 °F),NaN,NaN
9,August,14.9 °C (58.8 °F),17.7 °C (63.9 °F),NaN,NaN
10,September,17.2 °C (63.0 °F),21.1 °C (70.0 °F),NaN,NaN
11,October,19.6 °C (67.3 °F),25.0 °C (77.0 °F),NaN,NaN
12,November,21.8 °C (71.2 °F),29.0 °C (84.2 °F),NaN,NaN
13,December,24.1 °C (75.4 °F),31.7 °C (89.1 °F),NaN,NaN
14,Source: BOM,Source: BOM,Source: BOM,Source: BOM,Source: BOM

In [18]:
tables[7]

,Place,Climate type,January max. temp,January min. temp,July max. temp,July min. temp,No. clear days,Annual precipitation
0,Bairnsdale[61],Cfb,26 °C (79 °F),13 °C (55 °F),15 °C (59 °F),4 °C (39 °F),60,650 mm (26 in)
1,Ballarat[62],Cfb,25 °C (77 °F),11 °C (52 °F),10 °C (50 °F),3 °C (37 °F),55,690 mm (27 in)
2,Bendigo[63],Cfa/Cfb,30 °C (86 °F),14 °C (57 °F),12 °C (54 °F),3 °C (37 °F),110,514 mm (20 in)
3,Falls Creek[64],Cfc,18 °C (64 °F),9 °C (48 °F),1 °C (34 °F),−3 °C (27 °F),NaN,"1,274 mm (50 in)"
4,Geelong[65],Cfb,25 °C (77 °F),13 °C (55 °F),14 °C (57 °F),5 °C (41 °F),38[66],524 mm (21 in)
5,Melbourne[67] (capital),Cfb,26 °C (79 °F),14 °C (57 °F),14 °C (57 °F),6 °C (43 °F),49,648 mm (26 in)
6,Mildura[68],BSk,32 °C (90 °F),17 °C (63 °F),15 °C (59 °F),4 °C (39 °F),132,291 mm (11 in)
7,Portland[69],Csb/Cfb,22 °C (72 °F),12 °C (54 °F),13 °C (55 °F),6 °C (43 °F),40,840 mm (33 in)
8,Shepparton[70],BSk,32 °C (90 °F),15 °C (59 °F),13 °C (55 °F),3 °C (37 °F),NaN,452 mm (18 in)
9,Warrnambool[71],Cfb,22 °C (72 °F),13 °C (55 °F),13 °C (55 °F),6 °C (43 °F),53,743 mm (29 in)

In [20]:
tables[8]

,Place,Climate type,January max. temp,January min. temp,July max. temp,July min. temp,No. clear days,Annual precipitation
0,Albany[75],Csb,23 °C (73 °F),15 °C (59 °F),16 °C (61 °F),8 °C (46 °F),45,929 mm (37 in)
1,Broome[76],BSh,33 °C (91 °F),26 °C (79 °F),29 °C (84 °F),14 °C (57 °F),182,613 mm (24 in)
2,Eucla[77],BSk,26 °C (79 °F),17 °C (63 °F),18 °C (64 °F),7 °C (45 °F),94,274 mm (11 in)
3,Geraldton[78],Csa/BSh,32 °C (90 °F),18 °C (64 °F),19 °C (66 °F),9 °C (48 °F),164,441 mm (17 in)
4,Kalgoorlie[79],BSk,34 °C (93 °F),18 °C (64 °F),17 °C (63 °F),5 °C (41 °F),151,266 mm (10 in)
5,Karratha[80],BSh,36 °C (97 °F),27 °C (81 °F),26 °C (79 °F),14 °C (57 °F),158,297 mm (12 in)
6,Perth[81] (capital),Csa,30 °C (86 °F),18 °C (64 °F),17 °C (63 °F),9 °C (48 °F),131,868 mm (34 in)
7,Wyndham[82],BSh,37 °C (99 °F),26 °C (79 °F),31 °C (88 °F),17 °C (63 °F),176,824 mm (32 in)

In [21]:
tables[9]

,Island(s),Climate type,Coordinates,January max. temp,January min. temp,July max. temp,July min. temp,No. clear days,Annual precipitation
0,Christmas Island[83],Am,10°25′18″S 105°40′41″E﻿ / ﻿10.42167°S 105.67806°E,28 °C (82 °F),23 °C (73 °F),26 °C (79 °F),23 °C (73 °F),8.0,"2,199 mm (87 in)"
1,Cocos (Keeling) Islands[84],Am,12°07′S 96°54′E﻿ / ﻿12.117°S 96.900°E,30 °C (86 °F),25 °C (77 °F),28 °C (82 °F),24 °C (75 °F),NaN,"1,984 mm (78 in)"
2,Lord Howe Island[85],Cfa,31°33′15″S 159°05′06″E﻿ / ﻿31.55417°S 159.08500°E,25 °C (77 °F),21 °C (70 °F),19 °C (66 °F),14 °C (57 °F),68.0,"1,464 mm (58 in)"
3,Macquarie Island[86],ET,54°30′0″S 158°57′0″E﻿ / ﻿54.50000°S 158.95000°E,9 °C (48 °F),5 °C (41 °F),5 °C (41 °F),2 °C (36 °F),4.0,993 mm (39 in)
4,Norfolk Island[87],Cfa,29°02′S 167°57′E﻿ / ﻿29.03°S 167.95°E,25 °C (77 °F),19 °C (66 °F),18 °C (64 °F),14 °C (57 °F),41.0,"1,286 mm (51 in)"
5,Willis Island[88],Aw,16°17′15″S 149°57′52″E﻿ / ﻿16.28750°S 149.96444°E,31 °C (88 °F),26 °C (79 °F),26 °C (79 °F),22 °C (72 °F),67.0,"1,102 mm (43 in)"

In [22]:
tables[10]

   Absolute temperature ranges                              \
                         Month Maximum temperatures
                         Month                   °C     °F
0                      January                 50.7  123.3
1                     February                 50.5  122.9
2                        March                 48.1  118.6
3                        April                 45.0  113.0
4                          May                 40.6  105.1
5                         June                 37.8  100.0
6                         July                 37.6   99.7
7                       August                 41.2  106.2
8                    September                 43.1  109.6
9                      October                 46.9  116.4
10                    November                 48.7  119.7
11                    December                 49.9  121.8

                                                                            \
                                                      Minimum temperatures
                                    location and date                   °C
0   Oodnadatta, South Australia (2 January 1960)[103]                 −7.7
1   Mardie, Western Australia (19 February 1998)[105]                 −7.0
2   Roebourne Airport, Western Australia (10 March...                 −7.2
3   Port Hedland, Western Australia (1 April 1948)...                −13.0
4     Bidyadanga, Western Australia (6 May 1990)[110]                −13.4
5       Wyndham, Western Australia (2 June 1962)[112]                −23.0
6      Wyndham, Western Australia (19 July 1996)[114]                −19.6
7   West Roebuck, Western Australia (23 August 202...                −20.6
8   West Roebuck, Western Australia (27 September ...                −16.7
9   Port Hedland, Western Australia (22 October 20...                −12.0
10     Birdsville, Queensland (17 November 1990)[121]                 −9.4
11  Nullarbor, South Australia (19 December 2019)[...                 −9.0



      °F                                  location and date
0   18.1  Thredbo Ski Resort, New South Wales (24 Januar...
1   19.4  Perisher Ski Resort, New South Wales (17 Febru...
2   19.0  Kiandra, New South Wales (25 March 1964)/Bullo...
3    8.6  Charlotte Pass, New South Wales (29 April 2009...
4    7.9  Charlotte Pass, New South Wales (24 May 2008)[...
5   −9.4  Charlotte Pass, New South Wales (29 June 1994)...
6   −3.3  Charlotte Pass, New South Wales (20 July 2010)...
7   −5.1  Charlotte Pass, New South Wales (14 August 196...
8    1.9  Charlotte Pass, New South Wales (20 September ...
9   10.4  Charlotte Pass, New South Wales (29 October 20...
10  15.1  Charlotte Pass, New South Wales (26 November 1...
11  15.8  Thredbo Ski Resort, New South Wales (13 Decemb...

In [24]:
tables[11]

  Climate data for Australia                                        \
                       Month                Jan                Feb
0        Record high °C (°F)        50.7(123.3)        50.5(122.9)
1         Record low °C (°F)         −7.7(18.1)         −7.0(19.4)
2          [citation needed]  [citation needed]  [citation needed]

                                                                               \
                 Mar                Apr                May                Jun
0        48.1(118.6)        45.0(113.0)        40.6(105.1)        37.8(100.0)
1         −7.2(19.0)         −13.0(8.6)         −13.4(7.9)        −23.0(−9.4)
2  [citation needed]  [citation needed]  [citation needed]  [citation needed]

                                                                               \
                 Jul                Aug                Sep                Oct
0         37.6(99.7)        40.0(104.0)        43.1(109.6)        46.9(116.4)
1        −19.6(−3.3)        −20.6(−5.1)         −16.7(1.9)        −12.0(10.4)
2  [citation needed]  [citation needed]  [citation needed]  [citation needed]


                 Nov                Dec               Year
0        48.7(119.7)        49.9(121.8)        50.7(123.3)
1         −9.4(15.1)         −9.0(15.8)        −23.0(−9.4)
2  [citation needed]  [citation needed]  [citation needed]