In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aus_trade.csv')
df.head()

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,834,997,"1,355","1,456","1,865","2,549","3,225","3,745","4,320",...,"40,924","43,919","46,442","49,571","54,460","64,377","62,323","67,448","78,303","82,842"
1,United States,"10,820","12,122","15,207","15,983","15,817","16,391","17,301","19,019","21,252",...,"36,378","40,712","43,310","41,003","43,392","49,372","44,954","47,332","50,865","55,533"
2,Japan,"8,606","9,601","11,769","10,641","10,018","11,377","13,264","13,650","13,586",...,"20,573","20,079","21,420","21,609","20,096","23,027","22,824","24,813","26,988","26,357"
3,Germany,"3,131","3,215","3,739","3,828","3,585","3,706","4,042","4,540","5,676",...,"12,640","12,678","13,403","14,133","14,743","15,570","16,472","16,992","18,772","18,184"
4,Thailand,509,596,822,853,887,"1,055","1,134","1,241","1,424",...,"13,266","11,066","13,085","14,287","13,266","15,805","16,878","17,213","17,914","17,385"

In [3]:
df.to_html('aus_trade.html', index=False)